<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MeetMe - Formal Event</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="{{asset('bundles/meetme/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="{{asset('bundles/meetme/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="{{asset('bundles/meetme/css/ionicons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="{{asset('bundles/meetme/css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />
        <!--Google API-->
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;signed_in=true&amp;libraries=places,geometry&amp;region=ec&amp;language=es&amp;sensor=false"></script>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
    </head>
    <body class="skin-blue">
    {{ ws_client() }}   
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a style="background-color:#CC6633" href="{{path('meetme_reload')}}" class="logo">
                MeetMe
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav style="background-color:#FF9900"class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            
                            
                            
                            
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>{{name}} {{lastname}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                     <img src="{{asset('bundles/meetme/img/unisex.png')}}" class="img-circle" alt="User Image" />
                                    <p>
                                        {{name}} {{lastname}} 
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Contacts</a>
                                    </div>
                                    <div class="pull-right">
                                       <a href="{{path('meetme_logout')}}" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
                                    
                                    
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                             <img src="{{asset('bundles/meetme/img/unisex.png')}}" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                           <p>Hi! {{name}} {{lastname}}</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    {#<form action="perfil_amigo.html" method="get" class="sidebar-form">#}
                    <form class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="clave" class="busca" id="caja_busqueda" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span></br>
                        </div>
			<div id="display"></div>
                    </form>
     
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="{{path('meetme_reload')}}">
                                <i class="fa fa-globe"></i> <span>Home</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="">
                                <i class="fa fa-user"></i> <span>Contacts</span>
                            </a>
                        </li>
                        <li id="crearRuta" class="active">
                            <a href="#">
                                <i class="fa fa-road"></i> <span>Calendar</span>
                            </a>
                            <div class="rutaReset" style="display:none;margin:5px 0 5px 25px;">
                                <input type="button" class="btn btn-info btnResetRuta" value="Reset" onclick="reset()"/>
                            </div>
                        </li>
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-road"></i>
                                <span data-toggle="modal" data-target="#modalRuta" >Contact Us</span>
                            </a>
                            <div class="modal fade" id="modalRuta" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" >
                                        <div style="background-color:#367fa9;" class="modal-header">
                                            <button style="background-color:#367fa9;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h2 style="color:white;background-color:#367fa9;font-family:'Kaushan Script', cursive;">Historial de Rutas</h2>
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                </div>
                        </li>
                        <li class="active">
                            <a class="botonMenu" style="background-color:#FFE4B5" href="#">
                                <i class="fa fa-road"></i>
                                <span data-toggle="modal" data-target="#evento" >Event</span>
                            </a>
                            <div class="modal fade" id="evento" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" >
                                        <div style="background-color:#FF9900;" class="modal-header">
                                            <button style="background-color:#FF9900;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h2 style="color:white;background-color:#FF9900;font-family:'Kaushan Script', cursive;">Create Event</h2>
                                        </div>
                                        <div class="modal-body" style="overflow-y: auto; height: 300px;">
                                            <div>
                                                <br><br><br><a style="background-color:#FF9900;" href="{{path('meetme_formalevent')}}" class="btn btn-block"><b>Formal Event</b></a>
                                                <br><br><br><a style="background-color:#FF9900;" href="{{path('meetme_informalevent')}}" class="btn btn-block"><b>Informal Event</b></a>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                         </li>
                        
                        
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
                                
                                
                                

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
            
        <div class="form-box" id="login-box">
            <div class="header" style="background-color: #FF9900;font-size:30px;font-family:'Kaushan Script', cursive;">Formal Event Form</div>
            <form action="{{path('meetme_formalevent')}}" method="POST">
                
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="titulo" class="form-control" maxlength="15" placeholder="Write a title for the agenda..."/>
                    </div>
                    <div class="form-group">
                         <label class = "labelf" for="cargo">Role</label>
                    </div>
                    <div class="form-group">
                        <select name="cargo" class="form-control">
                            <option  value="secretario">Secretario</option>
                            <option  value="moderador">Moderador</option>
                            <option  value="administrador">Administrador</option>
                        </select>
                    </div>    
                     <div class="form-group">
                         <label class = "labelf" for="cargo">Participants</label>
                    </div>
                    <div class="form-group">
                        <select name="invitado" class="form-control">
                            <option  value="name">Evelyn Gonzalez</option>
                            <option  value="name">Raul Rodriguez</option>
                            <option  value="name">Victor Menoscal</option>
                            <option  value="name">Marcelo Sanchez</option>
                        </select>
                    </div>    
                    <div class="form-group">
                        <input type="text" name="descripcion" class="form-control" maxlength="15" placeholder="A description for the agenda..."/>
                    </div>
                    

                </div>
                <div class="footer bg-gray">              
                    <button type="submit" style="background-color:#FF9900;" class="btn btn-block">Create Event</button>
                    <a href="{{path('meetme_login')}}" class="text-center">Go back</a>
                </div>
            </form>
        </div>
               
                
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        
        
        
        <footer class="page-footer">
            <p class="footer-web">Software Engineering II</p>
            <a class="desarrolladores" href="#" data-toggle="modal" data-target="#modalFooter">Developers</a><br/>
            <p class="copyright">&copy; 2015 All right reserved. </p>

        </footer>
        <div class="modal fade" id="modalFooter" tabindex="-1" aria-hidden="true">
            <form class="form-horizontal" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#367fa9;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 style="font-family:'Kaushan Script', cursive;color:white;">Developers</h2>
                        </div>
                        <div class="modal-body" style="overflow-y: auto; height: 300px;">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-4">
                                                <img src="img/avatar3.png" style="width:50px; display: block;margin-left: auto;margin-right: auto;" alt="avatar">
                                                <h5 style="text-align:center;">Evenlyn Gonz&aacute;lez</h5>
                                                <h6 style="text-align:center;">Computer Science Engineer</h6>
                                </div>
                                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-4">
                                                <img src="img/avatar04.png" style="width:50px; display: block;margin-left: auto;margin-right: auto;" alt="avatar">
                                                <h5 style="text-align:center;">Ra&uacute;l Rodr&iacute;guez</h5>
                                                <h6 style="text-align:center;">Computer Science Engineer</h6>
                                </div>
                                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-4">
                                                <img src="img/avatar.png" style="width:50px; display: block;margin-left: auto;margin-right: auto;" alt="avatar">
                                                <h5 style="text-align:center;">V&iacute;ctor Menoscal</h5>
                                                <h6 style="text-align:center;">Computer Science Engineer</h6>
                                </div>
                                <div class="col-sm-3 col-xs-12 col-md-3 col-lg-4">
                                                <img src="img/avatar5.png" style="width:50px; display: block;margin-left: auto;margin-right: auto;" alt="avatar">
                                                <h5 style="text-align:center;">Marcelo S&aacute;nchez</h5>
                                                <h6 style="text-align:center;">Computer Science Engineer</h6>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        
        
		 <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<!-- Bootstrap -->
        <script src="{{asset('bundles/meetme/js/bootstrap.min.js')}}" type="text/javascript"></script>
        <!-- AdminLTE App -->
        <script src="{{asset('bundles/meetme/js/AdminLTE/app.js')}}" type="text/javascript"></script>

        <script src="{{asset('bundles/meetme/js/AdminLTE/dashboard.js')}}" type="text/javascript"></script>
        <!--<script src="js/googleAPI.js"></script>-->
       
        
    </body>
</html>

