<!DOCTYPE html>
<html class="bg-black">
    <head>
        <meta charset="UTF-8">
        <title>MeetMe - Register</title>
        <link rel="shortcut icon" href="{{asset('bundles/meetme/img/meetme.ico')}}" type="image/x-icon" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="{{asset('bundles/meetme/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="{{asset('bundles/meetme/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
       
        <!-- <link href="{{asset('bundles/meetme/css/darkly.min.css')}}" rel="stylesheet"> -->
        <!-- <link href="{{asset('bundles/meetme/css/AdminLTE.css')}}" rel="stylesheet" type="text/css" />--> 
        <!-- <link href="{{asset('bundles/meetme/css/style1.css')}}" rel="stylesheet"> -->
        <link href="{{asset('bundles/meetme/css/signup.css')}}" rel="stylesheet">

    </head>
    <body>   
      <div class="form">
          <div id="logo_container">
          <img src="{{asset('bundles/meetme/img/meetme_logo_long.png')}}" alt="">
        </div>  
      <div class="header"><h2>Sign Up</h2></div>
      <div class="login">
        <form id="signupform" name ="signupform" action="{{path('meetme_signup')}}" method="POST">
          <ul>
            <li>
              <input type="text" name="name" required class="text_half" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}" placeholder="First Name"/>
               <!-- You may just get a word of 4-25 characters between the letters AZ and az -->

              <input type="text" name="lastname" required class="text_half half_right_input" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ]{2,25}" placeholder="Last Name"/>
            </li>
            <li>
              <input type="text" name="username" required class="text_half" pattern= "[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ0-9]{5,15}" placeholder="User Name"/>
              <div class="selector_a">
                
                  
                 <select  id = "countrycbx" name="namecbxcountry" class="text_half half_right_input">
                            <option value= "-1">Select Country</option>
                            {% for country in countries %}
                             <option value="{{country.id}}">{{country.name}}</option>
                            {% endfor %}
                    </select>
                
              </div> 
              

            </li>
            
                <div class="registrationFormAlert" id="checkCountry"></div>
             
            <li>
              <input type="email" name="email" required class="text"  pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" maxlength="50" placeholder="Email"/>
            </li>
            <li>
              <input type="password" id="newPassword" name="password" required class="text_half" placeholder="Password" min="7" max="14"/>
              <input type="password" id="confirmPassword" name="password2" required class="text_half half_right_input" placeholder="Confirm Password" min="7" max="14"/>
            </li>
            <div class="registrationFormAlert" id="checkPasswordMatch"></div>
            <li>
              <button type="submit" id="btn_register" class="btn btn-block" disabled >REGISTER</button>
            </li>
            
          </ul>
        </form> 
        
      </div><br/>
      <div class="sign">
        <div class="up">
          <a class="go_back_btn" type="submit" href="{{path('meetme_login')}}"><i class="fa fa-chevron-left"></i> Go Back</a>
        </div>
      </div>
    </div>

<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '730641610413296',
    xfbml      : true,
    version    : 'v2.5'
  });
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>


        <!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="{{asset('bundles/meetme/js/bootstrap.min.js')}}" type="text/javascript"></script>        
        <script src="{{asset('bundles/meetme/js/validate.js')}}" type="text/javascript"></script>
        

    </body>
</html>